
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'nuno_bold';
  src: url('./fonts/Nunito_Sans/static/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'nuno_body';
  src: url('./fonts/Nunito_Sans/static/Raleway-Regular.ttf') format('truetype');
}

h1{
  font-family: 'nuno_bold';
}


*{
  font-family: 'nuno_body';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin-bottom: 0;
  height: 100%;
}
.card:hover{
  background-color: #efefef;
  box-shadow: 10px 20px 30px #cdd4db;
}
  
.card .btn:hover{
  filter: brightness(1.5);
}
.navbar a:hover{
  text-decoration: underline ;
}
.navbar .active{
  text-decoration: underline ;
}
                 /*Home style*/
.modal_info, .modal-header {
  color: white;
}
.modal-body{
  display: flex;
  
  img{
    height: 20em;
    height: 20em;
  }

}
                 
.home_main h1, strong{ 
  font-family: 'nuno_bold';
  font-size: 200%;
}
.Home_main_background{
  background-image: url('./images/images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 58em;
  margin: auto;
  color: white;
  font-family: 'nuno';
  filter: contrast(1);
  filter: grayscale(20%);
  filter: brightness(-2);
  
}

.Home_main_hello {
  padding-top: 22em;
  text-align: center;
  
}
.Home_main_hello h2 {
  font-family: 'nuno_bold';
  font-size: 400%;
}

.home_main_a_propos img { 
  max-width: 100%;
  margin-bottom: 1em;
  
}


.home_main_bloc, .Contact_main_bloc{
  
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  max-width: 70%;
  font-family: 'nuno';
  font-size: large;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 45em;
  width: 1200px;
  box-shadow: 10px 20px 30px #cdd4db;
}
.Home_main_article{
  margin-top: 2em;
}
.Home_main_bars{
  margin-top: 1em;
}
.home_main_a_propos{
  width: 50%;
}
.Home_main_skills {
 margin-left: 2em;
 width: 50%;

}
.Home_main_bars p{
  margin-top: 0;
}


                /*services style*/

.services_liste p {
  font-size: small;
}
.services_banner {
  background-image: url("./images/images/banner.jpg");
  height: 18em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.services_liste, .folio_titre, .Contact_titre, .Mentions_titre {       /*TITLE SERVICE, TITLE FOLIO , TITLE MENTIONS AND TITLE CONTACT */
  width: 30em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}
.services_liste hr {
  width: 26em;
  margin-left: auto;
  margin-right: auto;
}

.services_blocs {
  display: flex;
  flex-direction: row;
  width: 86em;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 2em;
  


}
.serices_bloc_options {
  border: solid;
  border-color: #dbd6d68f;
  border-radius: 5px;
  height: 20em;
  width: 20em;
  
}
.services_blocs img {
  width: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}
.services_blocs .card {
  margin: 2em;
  
}




                /*portefoliostyle*/
.folio_liste {
  width: 80em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3em;
}

.card-title h5{
  font-family: 'nuno_bold';
  font-size: small;
}
.folio_titre {
  margin-bottom: 5em;
}
.groupe_cards {
  display: flex;
}

.col {
  margin-bottom: 2em;
  margin-left: 1em;
}

.row{
  width: 80em;
}


                /*Contact Style */
.form-control{
  margin-top:1em;
 
}
label {
  padding: 0;
  margin-left: 0;
}

.Contact_titre{
  width: 100%;
  p{
    font-size:small ;
  }
  hr {
    width: 25em;
    margin: auto;
  }
}

label {
  margin-left: 0em;
}
.Contact_main_icones{
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  
}
.Contact_main_icones p  {
  margin-left: 7px;
}
.Contact_main_icones a {
  margin-left: 7px;
}
.Skills_container iframe {
  width: 30em;
  height: 20em ;
  border: 0px;
  max-width: 100%;
}

                /*Mentions légale style*/
.Mentions_liste {
  width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15em;
  margin-top: 10em;
}
            
                /*Footer style*/
.Footer_background{
  background-color: #212529;  

}
.footer_grid{
  width: 75%;
  background-color: #212529;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(10em);
  margin-left: auto;
  margin-right: auto;
  padding-left: 5em;
  
  
}
.footer_John_Doe_Social img{
  opacity: 0.3;
  margin-right: 10px;
}
.footer_John_Doe_Social img:hover{
  opacity: 1;
  transition: opacity 0.3s;
}

.footer {
  
  background-color: #212529;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  margin-bottom: 0em;

}
footer p {
  margin: 0em;
}

.footer_John_Doe a {
  text-decoration: none;
  color: white;
}
.footer_John_Doe{
  margin-bottom: 4em;
  margin-top: 4em;
}

.footer_John_Doe_titre {
  margin-bottom: 0.3em;
  padding-top: 2em;
}
.footer_grid img {
  margin-top: 1.5em;
 
}
.footer_grid a:hover {
  font-weight: bold;
}


@media only screen and (min-device-width : 480px) and (max-device-width : 1324px){
  //TABLET MENTIONS LEGALES//
  
  .Mentions_liste {
    width: 90%;
    margin-top: 0em;
    margin-bottom: 3em;
  
  }
  .Mentions_titre hr {
    width: 6em;
    margin: 1em auto 3em auto;

  }
  //TABLET CONTACT STYLE//
  .Contact_main_bloc {
    padding: 1em;
    max-width: 100%;
    width: 90%;
    height: auto;
    
    h3 {
      font-size: 24px;
    }
  }
  .form-control{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    margin-top: 0.3em;  

  }
   .Skills_container iframe {
    width: 30em;
    height: 20em ;
    border: 0px;
   }
//TABLET FOLIO STYLE//
.folio_liste {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: 0;
  margin-left: 0;
  margin-left: auto;
  margin-right: auto;
 
}
.folio_titre hr {
  width: 20em;
  margin: auto;

}
.groupe_cards {
  display: flex;
  
  
}
.groupe_cards .col {
  font-size: 15px;

  
}

//TABLET SERVICES STYLE//
.services_blocs {
  display: flex;
  width: 90%;
}
.services_blocs .card {
 
  font-size: 10px;
  
  
  
}
//HOME TABLET STYLE//
.home_main_bloc {
  margin: auto;
  padding: 1em;
  max-width: 100%;
  width: 90%;
  margin-bottom: 1em;
  height: auto;
  
}
.Home_main_article{
  margin-top: 2em;
  width: 100%;
  font-size: small;
}
.Home_main_bars{
  margin-top: 1em;
}
.home_main_a_propos{
  width: 100%;
}
.Home_main_skills{
  width: 100%;
  padding: 0;
  margin: 0;
}
}


//MOBILE QUERRIES//

@media only screen and (min-device-width : 0px) and (max-device-width : 480px) {

  //HOME MOBILE STYLE//
    .home_main_bloc, .Contact_main_bloc {
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: 1em;
      max-width: 100%;
      width: 90%;
      height: 68em;
      margin-bottom: 1em;
      
    }
    .Home_main_article{
      margin-top: 2em;
      width: 100%;
    }
    .Home_main_bars{
      margin-top: 1em;
    }
    .home_main_a_propos{
      width: 100%;
    }
    .Home_main_skills{
      width: 100%;
      padding: 0;
      margin: 0;
    }
    //SERVICE MOBILE STYLE//
  
    .services_blocs {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .services_blocs .card {
      margin: 2em;
      width: 90%;
      margin: auto;
      
      
    }
    .services_liste,.folio_titre, .Contact_titre, .Mentions_titre {
      width: 90%;
      margin: auto;
      padding-top: 3em;
      padding-bottom: 3em;
    }
    .services_liste hr {
      width: 10em;
    }
    .services_banner {
      background-image: url("./images/images/banner.jpg");
      height: 8em;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    //FOOTER MOBILE STYLE//
    
    .footer_grid {
    background-color: #212529;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-bottom: 0px; 
    padding-left: 2em;
  
    }

    //FOLIO MOBILE STYLE//

    .folio_titre hr {
      width: 10em;
      margin: auto;
    }

    .folio_liste {
      padding: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
     
    }
    .groupe_cards {
      display: flex;
      flex-direction: column;
    }
    .groupe_cards .col {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
 //CONTACT MOBILE STYLE//

     .form-control{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2px;
      margin-top: 0.3em;  
  
    }
     .Skills_container iframe {
      width: 30em;
      height: 20em ;
      border: 0px;
     }

      //MENTION LEGALES MOBILE STYLE//

      .Mentions_liste {
        width: 90%;
        margin-top: 0em;
        margin-bottom: 3em;
      
      }
      .Mentions_titre hr {
        width: 6em;
        margin: 1em auto 0.1em auto;

      }
      
     
     
}



  
